tr:hover td{
  background-color: #f5f5f5;
}

.bording:hover{
  border-left: 3px solid white;
  border-right: 3px solid white;
}

#createTaske{
  margin-left: 100px;
  margin-right: 100px;
}

#content{
  margin-top: 20px;
}

@media screen and (min-width: 1000px) {
  #table{
    width: 50%;
  }
  
  #content{
    margin-top: 80px;
  }
}

@media screen and (max-width: 800px) {
  #table{
    width: 75%;
  }

  #content{
    margin-top: 50px;
  }
}

@media screen and (min-width: 800px){
  #table{
    width: 75%;
  }

  #content{
    margin-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  #table{
    width: 85%;
  }
  #title{
    color: green;
  } 
}

@media screen and (max-width: 600px) {
  #table{
    width: 85%;
  }

  #title{
    color: blueviolet;
  }
}